body.page-2 {
  background-image: url("https://hdpic.club/photo/uploads/posts/2024-02/1706790655_hdpic-club-p-biznes-dzhet-9.png");
  background-size: cover;
  background-position: center;
}

.on {
  height: 0vh;
}

body.page-2 .button {
  background-color: #28a745;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 100;
}

body.page-2,
html {
  overflow: hidden;
  height: 100%;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Розподіляємо простір між елементами */
  margin: 7px 0;
  padding: 0;
  list-style: none;
  width: 100%;
  /* Забезпечуємо, що меню займає всю ширину */

  .user-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    /* Відступ зліва 15 пікселів */
    font-size: 0.65rem;
    color: gray;
    user-select: none;
    /* Заборона виділення тексту */
    pointer-events: none;
    /* Заборона взаємодії */
    line-height: 1.2;

    .user-surname {
      font-weight: 600;
    }

    .user-access {
      font-size: 0.75rem;
      color: #888;
    }
  }

  .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Центруємо всі елементи, включаючи лупу */
    flex-grow: 1;
    /* Дозволяємо розширюватися для центрування */

    > li {
      display: flex;
      align-items: center;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
        /* Прибираємо лівий відступ для першого елемента */
      }

      a {
        color: #000;
        font-weight: 700;
        letter-spacing: 0.2px;
        font-size: 15px;
        text-decoration: none;
      }

      a:hover {
        color: #d70505;
      }
    }

    .search-container {
      display: flex;
      align-items: center;
      margin-left: 20px;
      /* Відступ від календаря */

      .search-icon {
        order: -1;
        font-size: 1.5rem;
        color: #000;
        cursor: pointer;
      }

      .search-input {
        border: 2px solid #007bff;
        border-radius: 25px;
        outline: none;
        font-size: 1rem;
        padding: 4px 10px;
      }
    }
  }

  .alim {
    margin-left: auto;
    /* Штовхає вправо */
    margin-right: 12px;
    /* Відступ від правого краю */
    font-size: 0.65rem;
    color: gray;
    user-select: none;
    pointer-events: none;
  }
}

.search-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  transition: transform 0.2s ease-in-out;
  z-index: 20;
}

.search-icon:hover {
  transform: scale(1.1);
}

.search-input {
  width: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  border: 2px solid #007bff;
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
  color: #888;
  opacity: 1;
}

/* .searchInput {
  width: 150px;
  padding: 0;
  font-size: 10px;
} */

.search-input:focus {
  border-color: #0056b3;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.daterangepicker {
  background-color: #f7f7f7 !important;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
